body {
    padding-top: 50px;
}
header, footer, nav, section {
    display: block;
}
hr {
    width: 100%;
}

/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}

.width300 {
    width: 300px;
}

.width120 {
    width: 120px;
}

.width100 {
    width: 100px;
}

.width85 {
    width: 85px;
}

.width50 {
    width: 50px;
}

.height25 {
    height: 25px;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}
/* FIM Styles for validation helpers
-----------------------------------------------------------*/


/* bootstrap overwrite 
-----------------------------------------------------------*/
p {
    margin: 0;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #777;
}


/* FIM bootstrap overwrite 
-----------------------------------------------------------*/

.connectedSortable {
    border: 1px solid #eee;
    width: 100%;
    height: 200px;
    min-height: 150px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    overflow: auto;
    cursor: move;
}
.connectedSortable li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 14px;
    width: 98%;
    cursor: move;
}
.connectedSortable label {
    cursor: move;
}