<?xml version="1.0"?>
  <backload xsi:noNamespaceSchemaLocation="Web.Backload.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:name="urn:backload-schema">

    <fileSystem objectsRoot="Uploads" /> <!-- In this example want to store the files in a subfolder of the files root -->

  </backload>
