@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Tv Corporativa</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Olá @Html.Label(((TvCorporativa.Models.Usuario)Session["UsuarioLogado"]).Nome) seja Bem vindo!</h2>
        <p>
            Aqui você controla todos os pontos de comunicação de sua empresa.
        </p>
    </div>
</div>