@{
    ViewBag.Title = "Apresentação";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Apresentação - Tv Corporativa</title>
    @RenderPage("~/Views/Shared/_Head.cshtml")
    <link href="@Url.Content("~/Content/css/Apresentacao.css")" rel="stylesheet" />
</head>
<body data-spy="scroll" data-target="#affix-nav">
    <div class="container">
        <nav id="affix-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Tv Corporativa</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav" data-spy="affix" data-offset-top="10">
                    <li class="active"><a href="#quemsou">Quem sou?</a></li>
                    <li><a href="#problema">Problema</a></li>
                    <li><a href="#projeto">O Projeto</a></li>
                    <li><a href="#cronograma">Cronograma</a></li>
                    <li><a href="#orcamento">Orçamento</a></li>
                    <li><a href="#custo">Custo</a></li>
                    <li><a href="Login">Login</a></li>
                </ul>
            </div>
        </nav>

        <div class="row" style="margin-top: 50px;">
            <section id="quemsou" class="nav-top"></section>
            <section style="height: 550px">
                <h2 style="margin-left: 50px">Quem sou?</h2>
                <img src="../../img/info_icon.png" width="250" style="float: left;margin-right: 30px;" />
                <div style="font-size:25px; margin-top:50px">
                    <p>Meu nome é Rodrigo Lima, tenho 25 anos, sou Desenvolvedor de Sistemas a 9 anos. Trabalho na empresa Grupo Comunique-se como Analista Desenvolvedor .Net nos últimos 4 anos.</p>
                    <p>Sou apaixonado pelo que faço e por tecnologia. Meu desejo no próximo ano é ser um empreendedor de sucesso e ter meu próprio negócio.</p>
                </div>
                <hr style="float: left; margin-top: 100px">
            </section>
            <section id="problema" class="nav-top"></section>
            <section style="height: 550px">
                <h2 style="margin-left: 50px">O Problema</h2>
                <img src="../../img/icon_cube_large.jpg" width="250" style="float: left;margin-right: 30px;" />
                <div style="font-size:25px; margin-top:10px">
                    <p>A ideia desse projeto surgiu pela necessidade de ter um sistema mas simples, que rodasse em um ambiente mais leve e de fácil manutenção.</p>
                    <p>Na atual empresa que trabalho, tem um sistema semelhante, que roda em windows e tem diversos problemas, muitos clientes insatisfeitos, gerando muitas reclamações.</p>
                    <p>Daí resolvi fazer um sistema que roda-se em um dispositivo Android e que pudesse ser acessado pelos clientes de qualquer lugar com seu Smart Phone.</p>
                </div>
                <hr style="float: left; margin-top: 100px">
            </section>
            <section id="projeto" class="nav-top"></section>
            <section style="height: auto">
                <h2 style="margin-left: 50px">O Projeto</h2>
                <img src="../../img/project.png" width="250" style="float: left;margin-right: 30px;" />
                <div style="font-size:25px; margin-top:25px">
                    <p>A Tv Corporativa é um sistema que possibilita a divulgação de informações e dados relevantes de sua empresa ou de seu negócio.</p>
                    <p>Usado normalmente em salas de espera, elevadores, lojas comerciais ou dentro de empresas, a Tv Corporativa leva informação de uma forma
                        simples e intuitiva, podendo ser usada também em redes de Fast-Food para anunciar os valores dos produtos.</p>
                    <p>
                        Comunicação tradicional como quadros de aviso, murais, panfletagem, já é passado, com o avanço da tecnologia e
                        agora através das Tvs Corporativas pode ser feita uma comunicação muito mais dinâmica.
                        Por exemplo, dentro de uma fábrica, onde existe várias áreas de atuação, além de ser muito mais atraente,
                        chamando a atenção dos funcionários, você pode segmentar por setores e exibir informações relevantes a cada um deles.
                    </p>
                    <p>
                        Imagina uma rede de franquias espalhada por todo o Brasil exibindo ao mesmo tempo um comunicado importante de
                        campanha interna de vendas. Com apenas alguns cliques você consegue realizar uma operação que viabiliza essa informação
                        de forma rápida e interativa.
                    </p>
                </div>
                
                <p style="background-color: #F4F4F4; padding: 10px 50px; text-align: center; color: #FFF;"><a href="javascript:void(0)" onclick="openDetalhesProjetos();">Detalhes</a> </p>
                <br />
                <div id="detalhesProjeto" style="font-size:25px; margin-top:0px" class="displayNone">
                    <img src="../../img/Minix-Neo-X7.jpg" style="margin-left: 315px; width: 400px;" />
                    <br />
                    <img src="../../img/minix-neo-x7mini.jpg" style="margin-left: 315px; width: 400px;" />
                    <img src="../../img/visualizando1.jpg" style="margin-left: 315px; margin-top: 10px; width: 400px;" />
                    <img src="../../img/visualizando2.jpg" style="margin-left: 315px; margin-top: 10px; width: 400px;" />
                    <img src="../../img/portTvCorpo01.jpg" style="margin-left: 315px; margin-top: 10px; width: 400px;" />
                    
                </div>

                <hr style="float: left; margin-top: 100px">
            </section>
            <section id="cronograma" class="nav-top"></section>
            <section style="height: auto">
                <h2 style="margin-left: 50px">Cronograma</h2>
                <img src="../../img/clock.png" width="250" style="float: left;margin-right: 30px;" />
                <div style="margin-top:-60px">
                    <img src="../../img/Cronograma.jpg" style="width: 800px; height: 530px;" />
                </div>
                <hr style="float: left; margin-top: 100px">
            </section>
            <section id="orcamento" class="nav-top"></section>
            <section style="height: auto">
                <h2 style="margin-left: 50px">Orçamento</h2>
                <img src="../../img/porquinho.png" width="250" style="float: left;margin-right: 70px;" />
                <div style="margin-top: -55px; margin-left: 360px;">
                    <img src="../../img/Orcamento.jpg" />
                </div>
                <p style="background-color: #F4F4F4; padding: 10px 50px; text-align: center; color: #FFF;"><a href="javascript:void(0)" onclick="openDetalhesOrcamento();">Detalhes</a> </p>
                <br/>
                <div id="detalhesOrcamento" style="font-size:25px; margin-top:0px" class="displayNone">
                    <img src="../../img/orcamento_software.jpg" style="margin-left: 315px;" />
                    <br/>
                    <img src="../../img/orcamento_hardware.jpg" style="margin-left: 315px;" />
                    <img src="../../img/orcamento_people.jpg" style="margin-left: 315px; margin-top: 10px;" />
                </div>
                <hr style="float: left; margin-top: 100px">
            </section>
            
            <section id="custo" class="nav-top"></section>
            <section style="height: 550px">
                <h2 style="margin-left: 90px">Custo</h2>
                <img src="../../img/custo.png" width="250" style="float: left;margin-right: 30px;" />
                <div style="font-size:25px; margin-top:60px">
                    <img src="../../img/CustoTotal.jpg" style="margin-left: 40px; margin-top: -90px;" />
                </div>
                <hr style="float: left; margin-top: 100px">
            </section>

        </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Tv Corporativa</p>
        </footer>
    </div>

</body>
</html>

<script type="text/javascript">
    function openDetalhesOrcamento() {
        $("#detalhesOrcamento").toggle();
    }

    function openDetalhesProjetos() {
        $("#detalhesProjeto").toggle();
    }
</script>