@model TvCorporativa.Models.Midia

@{
    ViewBag.Title = "Criar Mídia";
}

<h2>Criar Mídia</h2>

<link rel="stylesheet" href="../../Content/css/fileUpload/jquery.fileupload.css">
<link rel="stylesheet" href="../../Content/css/fileUpload/jquery.fileupload-ui.css">
<noscript><link rel="stylesheet" href="../../Content/css/fileUpload/jquery.fileupload-noscript.css"></noscript>
<noscript><link rel="stylesheet" href="../../Content/css/fileUpload/jquery.fileupload-ui-noscript.css"></noscript>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true)
        
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add arquivos...</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Iniciar upload</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancelar upload</span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Deletar</span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>

        <div class="form-group">
            <div class="col-md-offset-0 col-md-1">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Voltar para lista", "Index")
</div>

@section Scripts
{
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->

    <script src="../../Scripts/fileUpload/jquery.fileupload.js"></script>
    <script src="../../Scripts/fileUpload/jquery.fileupload-process.js"></script>
    <script src="../../Scripts/fileUpload/jquery.fileupload-audio.js"></script>
    <script src="../../Scripts/fileUpload/jquery.fileupload-image.js"></script>
    <script src="../../Scripts/fileUpload/jquery.fileupload-video.js"></script>
    <script src="../../Scripts/fileUpload/jquery.fileupload-validate.js"></script>
    @*<script src="../../Scripts/fileUpload/jquery.fileupload-ui.js"></script>
    <script src="../../Scripts/fileUpload/jquery.fileupload-jquery-ui.js"></script>*@
    
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
        <script src="../../Scripts/fileUpload/cors/jquery.xdr-transport.js"></script>
    <![endif]-->
    
    <script src="../../Scripts/js/Midia.js"></script>
}
